body::-webkit-scrollbar
aside::-webkit-scrollbar
  width: 0
aside::-webkit-scrollbar-thumb
body::-webkit-scrollbar-thumb
  background: darken($badgeTipColor, 10%)
  border-radius: 5px

img
  border-radius: 5px

.custom-block
  border-radius: 5px
  border-left-width: 0.36rem !important

blockquote
  border-radius: 3px
